<table class="detail-table">
	<tr class="table-headers">
		<td>Name</td>
		<td>Quantity</td>
		<td>Cost (CMC)</td>
		<td>Type(s)</td>
		<td>Color(s)</td>
	</tr>
	<% console.log(cards); %>
	<% cards.each(function(card) { %>
		<% var parsedCost = card.get("mana_cost"); %>
		<tr class="table-item" data-id="<%= card.id %>">
			<td><%= card.get("name") %></td>
			<td><%= card.get("quantity") %></td>
			<td><%= card.get("mana_cost") %> (<%= card.get("cmc") %>)</td>
			<td><%= card.get("card_types") %></td>
			<td><%= card.get("colors") %></td>
		</tr>
	<% }); %>
</table>