<table class="detail-table">
	<tr class="table-headers">
		<td>Name</td>
		<td>Cost (CMC)</td>
		<td>Type(s)</td>
		<td>Color(s)</td>
	</tr>
	<% cards.each(function(card) { %>
		<% var parsedCost = card.get("mana_cost"); %>
		<tr class="table-item" data-id="<%= card.id %>">
			<td><%= card.get("name") %></td>
			<td><%= card.get("mana_cost") %> (<%= card.get("cmc") %>)</td>
			<td><%= card.get("card_types") %></td>
			<td><%= card.get("colors") %></td>
		</tr>
	<% }); %>
</table>

<form id="collection-upload">
	<div class="card-upload">
		<label for="list-upload" class="card-list">Upload Cards <a class="show-format" href="javascript:void(0)">(formatting help)</a>
			<textarea id="list-upload" rows="20" cols="40"></textarea>
		</label>
	</div>
	<div class="upload-button">
		<a id="add-collection" class="deckster-button" href="javascript:void(0)">Submit</a>
	</div>
</form>

<div id="formatting-modal" class="hidden">
	<div class="modal-content">
		<h1 class="title">Formatting Guidelines</h1>
		<i class="fa fa-times modal-close"></i>
		<span class="example">Upload format => "{quantity} {card_name}"</br>
		</br>
		Example:</br>
			<div class="example-upload">
				4 Chimney Imp</br>
				4 Storm Crow</br>
				4 Scornful Egotist</br>
			</div>
		</span>
	</div>
<div>