<div class="decks-container">
	<% groupDecks.forEach(function(group, idx) { %>
		<ul class="decks-container">
			<div class="deck-item-container">
				<% group.forEach(function(deck, idx) { %>
					<li class="deck-item" data-id="<%= deck.id %>">
						<div class="deck-img-container">
							<div class="name"><%= deck.escape("title") %></div>
							<img class="middle" src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
							<img class="cover-img" src="<%= deck.get('cover_img') %>"></img>
							<img src="https://s3.amazonaws.com/decksterdev/defaults/200px-Magic_card_back.jpg"></img>
							<i class="fa fa-trash" data-name="<%= deck.escape('title') %>" data-id="<%= deck.id %>"></i>
						</div>
					</li>
				<% }); %>
			</div>
		</ul>
	<% }) %>
</div>
<ol class="carousel-indicators">
	<% groupDecks.forEach(function(group, idx) { %>
		<li class="carousel-indicator <% if(idx === 0) { %>active<% }; %>" data-nav-id="<%= idx %>"></li>
	<% }); %>
</ol>
<nav class="decks-nav">
	<i class="fa fa-chevron-left left"></i>
	<i class="fa fa-chevron-right right"></i>
	<ul class="decks-list">
		<% decks.each(function(deck, idx) { %>
			<li class="deck-item <% if(idx === 0) { %>active<% } %>" data-deck-id="<%= deck.id %>">
				<img src="<%= deck.get("cover_img") %>"></img>
				<div class="title"><%= deck.escape("title") %></div>
			</li>
		<% }) %>
	</ul>
</nav>

<div class="modal hidden">
	<div class="modal-content">
		<i class="fa fa-times modal-close"></i>
		<p class="prompt"></p>
		<div class="deckster-button delete-deck">Confirm</div>
	</div>
</div>