<div class="item" data-name="<%= card.get('name') %>">
	<img class="thumb" src="<%= image %>" data-img-url="<%= image %>"/> <%= card.get("name") %>
</div>

<img class="full hidden" src="<%= image %>"/>